

<h1 align='center'><%= @welcome %></h1>


  <ul> Please choose your mass destruction weapon

    <li><a href='/rock'> Rock </a></li>
    <li><a href='/paper'> Paper </a></li>
    <li><a href='/scissors'> Scissors </a></li>

  </ul>