

<h1 align='center'><%= @welcome %></h1>

<img src='/images/fight.jpeg' align='middle'>

  <ul> Please choose your mass destruction weapon
    <li><a href='/rock'> Rock </a></li>
    <li><a href='/paper'> Paper </a></li>
    <li><a href='/scissors'> Scissors </a></li>
  </ul>

