<h1 align="center"> Welcome to my version of Rock Paper Scissors </h1>
</br>
<img src='/images/homepage.jpeg' height='500' width='900' align='middle'>
</br>
</br>
<p align="center"><a href='/register'>New Game</a></p>

